.carr
     width: 100%
     height: 660
     padding: 87px 0px 0px
     img 
        width: 100%
        height: 650px
        padding: 0px
        margin: 0px
    .ptntguqui
         filter: blur(1px);
         z-index: 0
        position:absolute
    .logoppg
        padding: 0px
        width: 100px
        z-index: 1
        position:absolute