.header
     padding: 27px 0px 0px 0px
     height: 622px
     background-color: #F1F1F1
.carr
     width: 90%
     height: 500
     padding: 87px 0px 0px 20px
     border: 0px 5px 0px 0px 
     text-align:center
    
     
     img 
        width: 100%
        height: 550px
        padding: 12px 0px 
        margin: 10px 0px 0px 0px
        
    
   