.footer
    background-color: #0F4757  
    height: 160px
    width: 100%
    padding: 0px
    margin: 0px
    .menu
        padding: 40px
        color: #F7C029 
        font-size: 14px
        font-weight: 600
        text-decoration: none
        
        ul 
          list-style: none  
