*
    margin 0px

#contenedor
    margin 0px auto

body
    background-color darkgrey
    font-family 'Cuprum',arial,serif
    font-size 16px
    padding 0px
    margin 0px

#section
    text-align center
    padding: 110px 0px 140px 0px 
    svg  
      padding: 20px 0px 0px 0px 
      width: 100px
      height: 100px
    h1  
       padding: 0px 0px 0px 0px 
    p  
       padding: 0px
       margin: 0px
#arriba
    width: 100%
    height 280px
    background-color #1BA4C5  
    font-weight 600
    font-size 20px
    color white
    padding: 0px
    margin: 0px

#img
    float right
    padding 20px

#promotoresinfo
    padding 100px 0px 0px 0px
    font-weight 600
    color: #464646
    font-size: 20px
#infoprepa
    padding 20px 20px 0px 0px 
    width 740
    float right
    font-weight 600
    color: #464646
    font-size: 20px
    margin: 0px

#imgcepea
    padding 40px 30px 30px 2px
    margin 0 0 0 100

#imgcepeaotro
    padding 40px 2px 0px 8px
    float right

#infoprepaotro
    padding 100px 10px 0px 50px
    margin 0px
    font-weight 600
    color: #464646
    font-size: 20px
ul
    background-color #1BA4C5
    font-weight 600
    color: #9DAA9C  
    a 
       color: #98E3A2       

#imgcoa
    padding 40px 220px 0px 0px
    float right

#infocoa
    padding 90px 70px 0px 70px
    font-weight 600
    color: #464646
    font-size: 20px