<div class="container-fluid" id="quienessomos">
 
    <h1>
        ¿QUIENES SOMOS?
      </h1>
      <p>El Patronato Pro Educación Guaquitepec es una Asociación Civil que se constituyó el 24 de junio del año 2015, con la misión de buscar el camino del buen vivir de las personas mediante el fortalecimiento y continuación del Proyecto Educativo impulsado por Patronato Pro Educación Mexicano AC desde el año1995 en la región de Guaquitepec Municipio de Chilón, Chiapas, a través de la Formación de Promotoras y Promotores para el Bienestar Familiar, Formación de Técnicos para el Desarrollo Comunitario y actualmente el Patronato promueve la Especialización de Técnicos para el Desarrollo Local Sustentable. </p>
    
 
   
</div>
<div class="mision">
     <h1>MISION </h1>
    <p>
        Ser una organización reconocida que ofrece una formación integral a las mujeres y hombres para encontrar nuevas maneras de trabajar en beneficio del buen vivir de la comunidad.
              </p>
</div> 