#quienessomos
    background-color: #F4F6F5
    
    h1   
        padding: 95px  60px 15px  60px
        color:#F9C029
        text-align:center
        margin: 0px
        font-size: 33px
        background-color: #F4F6F5
        width: 100%


    p  
        padding: 20px 50px 85px 50px
        margin: 0px 50px
        text-align: center
        color: #808080
        background-color: #F4F6F5
        font-size: 21px
        font-weight: 600
.Vision 
     background-color: #C6D343
     width: 100%
     h1   
        padding: 75px  60px 10px  60px
        color:#F4F4F4
        text-align:center
        margin: 0px
        font-size: 33px
        width: 100%
        


    p  
        padding: 10px 50px 75px 50px
        margin: 0px 50px
        text-align: center
        color: #F4F4F4 
        font-size: 21px
        font-weight: 600
.Vision 
     background-color: #C6D343
     width: 100%
     
     h1   
        padding: 75px  60px 10px  60px
        color:#F4F4F4
        text-align:center
        margin: 0px
        font-size: 33px
        width: 100%
        


    p  
        padding: 10px 50px 75px 50px
        margin: 0px 50px
        text-align: center
        color: #F4F4F4 
        font-size: 21px
        font-weight: 600
.mision
    background-color: #CEF6E6
    width: 100%
    padding: 0px
    margin: 0px
    h1   
        padding: 75px  60px 10px  60px
        color:black
        text-align:center
        margin: 0px
        font-size: 33px
        width: 100%
        


    p  
        padding: 10px 50px 75px 50px
        margin: 0px 50px
        text-align: center
        color: black 
        font-size: 21px
        font-weight: 600
#quienessomos
    padding: 50px 0px 0px 0px