.quehcms
   margin:0px
   padding: 100px 0px 10px 0px
   width: 100%
   
  .formprom
      padding: 0px
      margin: 0px
      
  .cont 
      background-color: #B2FF59
      margin: 0px
      padding: 0px
      
     
     img 
      width: 75%
      max-height: 520px
      padding: 10px 0px 0px 0px
      margin: 0px 0px 0px 0px
      
    .formacion   
        padding: 30px 
        margin: 0px
        color: white;
        background-color: #B2FF59
        

        h1  
            text-align: center
            font-size: 32px
            
        p   
            font-size: 20px
            text-align: center
            font-weight: 600
    .fndcards
          padding: 0px 0px 50px 0px
          margin: 0px
          background-color: #B2FF59
          .card   
            width: 95%
            height: 300px
            padding: 20px 0px  0px 0px 
            margin: 20px 0px  0px 40px 
            font-size: 12px
            text-align: center
            border-radius: 12px
            border-width: 1px;
            border-style: solid
            box-shadow: 2px 2px 5px  #000000  
            -moz-box-shadow: 0px 0px 10px  #000000 
            -webkit-box-shadow: 0px 0px 10px #000000 
            color: blue
            cursor: pointer
          .card:hover
               transform : scale(1.02);
               -moz-transform : scale(1.02);      /* Firefox */
               -webkit-transform : scale(1.02);   /* Chrome - Safari */
               -o-transform : scale(1.02);  
            img  
              width: 90%
              height: 180px
              padding: 0px
              margin: 0px
              border-radius: 14px
              
            h1  
              font-size: 35px
            
            .svg
              padding: 0px
              margin: 0px
              height: 150px
              width: 150px
              h1  
                font-size: 32px
            
          .produccion
              padding:20px 0px  0px 0px  
              width: 95%
              height: 300px
              margin: 20px 0px  0px 40px 
              font-size: 18px
              text-align: center
              background-color: white
              border-color: #aaaaaa;
              border-radius: 12px
              border-width: 1px;
              border-style: solid;
              box-shadow: 2px 2px 5px  #000000  
              -moz-box-shadow: 0px 0px 10px  #000000 ; 
              -webkit-box-shadow: 0px 0px 10px #000000 
              color: blue
              cursor: pointer
              img 
                width:   60%
                height: 180px
              h1  
                font-size: 32px
          .produccion:hover
               transform : scale(1.02);
               -moz-transform : scale(1.02);      /* Firefox */
               -webkit-transform : scale(1.02);   /* Chrome - Safari */
               -o-transform : scale(1.02);  
      
           .salud
              padding:20px 0px  0px 0px  
              width: 95%
              height: 300px
              margin: 20px 0px  0px 40px 
              font-size: 18px
              text-align: center
              background-color: white
              border-color: #aaaaaa;
              border-radius: 12px
              border-width: 1px;
              border-style: solid;
              box-shadow: 2px 2px 5px  #000000  
              -moz-box-shadow: 0px 0px 10px  #000000 ; 
              -webkit-box-shadow: 0px 0px 10px #000000 
              color: blue
              cursor: pointer
              img 
                width:  85%
                height: 180px
                padding: 20px 0px 0px 10px
              h1  
                font-size: 32px
           .salud:hover
               transform : scale(1.02);
               -moz-transform : scale(1.02);      /* Firefox */
               -webkit-transform : scale(1.02);   /* Chrome - Safari */
               -o-transform : scale(1.02);  
            .economia
              padding:20px 0px  0px 0px  
              width: 95%
              height: 300px
              margin: 20px 0px  0px 40px 
              font-size: 18px
              text-align: center
              background-color: white
              border-color: #aaaaaa;
              border-radius: 12px
              border-width: 1px;
              border-style: solid;
              box-shadow: 2px 2px 5px  #000000  
              -moz-box-shadow: 0px 0px 10px  #000000 ; 
              -webkit-box-shadow: 0px 0px 10px #000000 
              color: blue
              cursor: pointer
              img 
                width:  80%
                height: 180px
                padding: 0px 0px 0px 60px
              h1  
                font-size: 32px
            .economia:hover
               transform : scale(1.02);
               -moz-transform : scale(1.02);      /* Firefox */
               -webkit-transform : scale(1.02);   /* Chrome - Safari */
               -o-transform : scale(1.02);        /* Opera */

            .vinculo 
              cursor: pointer
              img 
                 width:  85%
                 height: 180px
                 padding: 20px 0px 0px 60px
              h1  
                font-size: 32px
            .vinculo:hover
               transform : scale(1.02);
               -moz-transform : scale(1.02);      /* Firefox */
               -webkit-transform : scale(1.02);   /* Chrome - Safari */
               -o-transform : scale(1.02);  