<app-navbar></app-navbar>
<div class="container-fluid vinculosol row">
  <div class="container-fluid col-5 img">
    <img src="https://image.ibb.co/dJYB0R/vinculosolidario.jpg" alt="vinculosolidario" border="0">
   </div>
  <div class="container-fluid col-7  infosld">
      <h1>
        Vínculos Solidarios 
      </h1>
      <p>
        Se trabaja con la población infantil mediante la realización de eventos y encuentros intercomunitarios e intercambio de experiencias con enfoque de derechos mediante actividades lúdicas, para ello se trabaja en coordinación con los directores de escuelas, comités de educación, padres y madres de familia y autoridades comunitarias con el fin de promover actividades recreativas, acceso al libre esparcimiento y promoción de hábitos de vida saludable y con una proyección de que las niñas y niños sea los protagonistas de sus propios proyectos de vida.
      </p>
  </div>
  



</div>
<app-footer></app-footer>