*{
	margin: 0px;
}
#contenedor{
	margin: 0px auto;
    padding: 100px 0px 550px 0px
	
}



#arriba{
	height: 180px;
   	background-color: darkblue;
	font-weight: 600;
	font-size: 28px;
    color: white;
    
  
}


#carouselExampleIndicators{
	width: 760px;
	height: 400px;
	padding: 40px;
}
#title{
	padding: 60px 0px 0px 530px;
}
#info1 {
	font-weight: 700;
	border-color: black;
	color: black;
	border-color: black;	
}
#info2 {
	font-weight: 700;
	border-color: black;
	color: yellow;
	border-color: black;	
}
#info3 {
	font-weight: 700;
	border-color: black;
	color: yellow;
	border-color: black;	
}
.card{
	width: 449px;
	height: 500px;
	font-weight: 600;
	padding: 40px;
	
}
#card1{
	float: right;
	top: 40px;
	
}
#card2{
	float: right;
	top:40px;
}
#card3{
	float: left;
	top: 40px;
	
}
   
