<app-navbar></app-navbar>
<div id="contenedor">
    
       <section id="section" class="contenedor">
       <div id="arriba">
         <div id="title">
              <p>
                Economía Solidaria
              </p>
         </div>
       </div>
       <div class="card" id="card1" >
           <img class="card-img-top" src="https://image.ibb.co/jArkvR/reunion.png" alt="Card image cap">
           <div class="card-body">
             <p class="card-text">
             Los grupos solidarios los conforman mujeres, quienes llevan a cabo actividades de organización, toma de decisiones en elección de sus representantes del grupo solidario.
             </p>
           </div>
       </div>
       <div class="card" id="card2">
           <img class="card-img-top" src="https://image.ibb.co/nw7BKm/tallereco.png" alt="Card image cap">
           <div class="card-body">
             <p class="card-text">
               se acompaña directamente a 250 mujeres organizadas en grupos solidarios, con un promedio familiar de 6 integrantes, haciendo un total de beneficiarios de 1,500 personas. 
             </p>
           </div>
       </div>
       <div class="card" id="card3" >
           <img class="card-img-top" src="https://image.ibb.co/fs8FvR/solidaria.jpg" alt="Card image cap">
           <div class="card-body">
             <p class="card-text">
              Impulsamos la dinamización del flujo económico de la región de Guaquitepec a través de acciones de capacitación y acompañamiento en campo en temas de ahorro y crédito bajo la metodología de grupos solidarios.
             </p>
           </div>
       </div>
       
        </section>    
   </div>

<app-footer></app-footer>