*
    margin 0px

#contenedor
    margin 0px auto
    padding: 50px 0px 50px 0px

body
    background-color darkgrey
    font-family 'Cuprum',arial,serif
    font-size 16px
    padding 0px
    margin 0px

#arriba
    height 180px
    text-align center
    background-color green
    font-weight 600
    font-size 28px
    color white
ul   
    background-color green
    a     
      color: white   
      font-weight: 600

#img
    float right
    padding 20px

#acominfo
    text-align justify
    padding: 20px 0px 0px 0px 
    font-weight: 600
    color: #464646
    font-size: 20px
    font-weight: 600
#infoalimentaria 
    color: #464646
    font-size: 20px
    text-align: center
    