<app-navbar></app-navbar>
<div id="contenedor">
    
        <section id="section" class="contenedor">
       <div id="arriba">
         <br>
         <br>
            <p>Produccion 
          </p>
       </div>
     
       
       <ul class="nav nav-tabs" id="myTab" role="tablist">
                     <li class="nav-item">
             <a class="nav-link active" id="home-tab" data-toggle="tab" href="#acom" role="tab" aria-controls="acom" aria-selected="true">ACOMPAÑAMIENTO A PRODUCTORES</a>
                     </li>
                     <li class="nav-item">
             <a class="nav-link" id="profile-tab" data-toggle="tab" href="#alimentaria" role="tab" aria-controls="alimentaria" aria-selected="true">SEGURIDAD ALIMENTARIA</a>
                     </li> 
       </ul>
 
 <!-- Tab panes -->
       <div class="tab-content" id="contenidotab">
         <div class="tab-pane active  container-fluid row" id="acom" role="tabpanel" aria-labelledby="acom-tab">
                         <div class="col-7" id="img">
                  <img class="img" src="https://image.ibb.co/d0vvem/tallerpro.jpg" width="600" height="405" >
                 </div>
           
                    <div class="col-7" id="acominfo">
                            <p>
 Se da acompañamiento mediante la formación y capacitación de productores y promotores de la región en temas de producción de café orgánico, organización en cooperativa certificación de café ecológico, certificación en comercio justo, acopio, procesamiento y comercialización de café ecológico y diversificación de ingresos económicos
                            </p>
   
             
                    <p>
                 <br>
  Para el fortalecimiento de los procesos de capacitación y extender la tecnología, la estrategia y la metodología, el Patronato capacita y forma a promotores, hijos de productores, que actualmente dan acompañamiento y asesoría técnica a productores, y por otro lado, apoyan a la administración y contabilidad de la cooperativa de organizaciones formalmente constituidas.
                 </p>
                         </div>
           
           </div>
         <div class="tab-pane" id="alimentaria" role="tabpanel" aria-labelledby="alimentaria-tab">
                 <div id="infoalimentaria" class="col-6">
                     <p>
                    <br>
                     Es un eje transversal en donde se promueven la diversificación productiva, el aprovechamiento de recursos locales, promoción de la alimentación sana e impulso de tecnología de producción alternativa. 
                     </p>
                     </div>
             <div class="col-6" id="imgcepea">
                  <img class="img" src="https://image.ibb.co/i9LEN6/salud.jpg" width="439" height="309" >
                     </div>
                    
           </div>
          
 
       
             </div>
          </section>    
   </div>
   <app-footer></app-footer>