<app-navbar></app-navbar>
<div class="container-fluid saludcomunitario row">
  
  <div class="container-fluid col-7  infosld">
      <h1>
          salud comunitaria 
      </h1>
      <p>
          Esta área promueve campañas de salud preventiva en las comunidades, y se cuenta con área de diagnósticos médicos, un área de promoción de la medicina tradicional y un laboratorio de análisis. El objetivo central es contribuir a la salud comunitaria y facilitar el acceso a servicios médicos de primera necesidad, y se está planeando establecer convenios y conexiones con otros centros hospitalarios en las ciudades vecinas para la canalización de los pacientes con padecimientos que necesitan atención especializada.
      </p>
  </div>

  <div class="container-fluid col-5 img">
        <img src="https://image.ibb.co/gt6rH6/laboratorio_2.jpg" alt="laboratorio_2" border="0">
  </div>
</div>
<app-footer></app-footer>